@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
	padding: 0px;
	margin: 0px;
	background-image: url("AHHH.webp");
	background-size: contain;
}

* {
	
	font-family: 'Cormorant Garamond', serif !important;
	font-weight: bold;
	font-size: 10vw;
	color: red;
}